body {
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf3eb;
}

#content {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.container {
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: column;
}

.titles {
    font-family: "Gochi Hand", cursive;
    display: flex;
    flex-direction: column;
}

#chat-container {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.text-bubble {
    font-family: Calibri, sans-serif;
    background-color: #faca5c;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

#output {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#save-btn {
    font-family: "Gochi Hand", cursive;
    background-color: #6acd90;
}


.back-button {
    text-decoration: none;
    color: #7393b2;
    font-size: 24px;
    margin-bottom: 20px;
}

#start-btn {
    background-image: url('../images/mic.png');
    background-color: #7cacdc;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}


#start-btn:hover {
    opacity: 0.8;
}

.user-message {
    background-color: #fcd3d3;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
    max-width: 80%;
    word-wrap: break-word;
}

.back-button {
    margin: 20px;
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 36px;
}

.quit-to-checkin {
    font-family: "Gochi Hand", cursive;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    text-decoration: none;
    color: gray;
    float: right;
    padding: 20px;
}
.quit-to-checkin:hover {
    color: black;
}

